@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center border border-info bg-info bg-opacity-10 p-2 mb-2">Welcome to AutoFreedom</div>

<div class="text-center border border-info bg-info bg-opacity-10 p-2 mb-2">
    <h5>What we offer:</h5>
    <p>We offer a safe and reliable place to browse a wide variety of products from different sectors within the automotive industry.</p>
    <p>All of the sales will be conducted by the advetiser who owns the product.</p>
    <p>This website will only be used to connect customers to companies in a fast, safe and reliable manner with comfort.</p>
</div>
